/* BoilerPlate */
*{
padding:0;
margin:0;
box-sizing:border-box;
}
/* Utilities */
.nowrap{
    white-space:nowrap;
}
:root{
--PRINCIPAL-COLOR:#1f2937;
--LOW-CONTRAST-TEXT:GREY;

}
/* Start Main CSS */
body{
    min-height:100vh;
}
/* Header */
header{
    display:flex;
    align-items:center;
    flex-flow:row wrap;
    padding:10px 100px;
    background-color:var(--PRINCIPAL-COLOR);
    justify-content:center;
}
.headerTitle{
    font-size:24px;
    color:#F9FAF8;
    margin-right:auto;
    
}
.headerNav{
    display:flex;
    flex-flow:nowrap row;
    gap:10px;
    margin-left:auto;
}
.headerNavButtons{
font-size:18px;
color:var(--LOW-CONTRAST-TEXT);
text-decoration:none;
}
/* Main Content */
.main{
    height:auto;
    background-color: purple;
    display:grid;
    grid-template:auto 50vh 50vh/ 100%;
}
.mainPrincipal{
    padding:100px;
    display:flex;
    flex-flow:wrap row;
    align-items:center;
    justify-content:center;
    gap:60px;
    background-color:var(--PRINCIPAL-COLOR);
}
.mainPrincipalText{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
    gap:20px;
    align-content:flex-start;
}
.mainPrincipalTextHero{
    font-size:48px;
    color:white;
    width:360px;
}
.mainPrincipalTextParagraph{
    width:360px;
    color:var(--LOW-CONTRAST-TEXT);
}
.mainPrincipalTextButton{
    display:flex;
    margin-right:auto;
    color:white;
    text-decoration:none;
    background-color:#3382f6;
    border-radius:5px;
    padding:10px 30px;
}

.mainPrincipalImageFile{
    background:url(images/pexels-finn-semmer-19166222.jpg);
    background-size:cover;
    height:60%;
    flex:0 0 auto;
    width:400px;
    height:200px;
}
@media all and (max-width:524px){
    /* Header */
    .headerNav{
        margin-left:0px;
    }
    .headerTitle{
        margin-right:0px;
    }
}
